/** Section 1 **/
#s1{
    text-align: center;
}
#img1_1{
    width: 290px;
    transition: 1s ease-in-out;
    border-radius: 30px;
    box-shadow: 0px 0px 160px #020129;
}
#img1_1:hover{
    width: 250px;
    box-shadow: 0px 30px 40px #020129; 
}
#txt1_1{
    transition: 1s ease-in-out;
    font-size: 19px;
    color: #1266cc;
}
#txt1_1:hover{
    font-size: 19.5px;
    color: #3478f6;
    text-decoration: underline ;
}
#c1_1{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px #000000;
    box-shadow: 0px 0px 80px #333333;
    width: 300px;
    height: 100px;
    border-radius: 10px;
}
#icn1_1, #icn1_2, #icn1_3, #icn1_4{
    color: #000000;
    padding: 5px;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}
#icn1_1:hover, #icn1_2:hover, #icn1_3:hover, #icn1_4:hover{
    font-size: 22px;
}
#icn1_1:hover{
    border-radius: 5px;
    color: white;
    background-color: #3478f6;
}
#icn1_2:hover{
    border-radius: 5px;
    color: white;
    background-color: #6b75f7;
}
#icn1_3:hover{
    border-radius: 5px;
    color: white;
    background-color: #1773ea;
}
#icn1_4:hover{
    border-radius: 5px;
    color: white;
    background-color: #1f9cea;
}
/** Section 3 **/
#s3{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 215%;
}
/** Footer **/
footer{
    top: 220%;
}